<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon> -->
    </button>
    <h1>SimpleCRM</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/accounts'"> Accounts </a>
      <a mat-button [routerLink]="'/create-account'"> Create Account </a>
      <a mat-button [routerLink]="'/contacts'"> Contacts </a>
      <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-button [routerLink]="'/activities'"> Activities </a>
      <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container p-32">
  <div class="row mainWrapper blue_theme light-theme">
    <div class="business-item col-sm-6 col-lg-4" *ngFor="let b of businesses">
      <mat-card class="cardWithShadow productcard overflow-hidden">
        <a [routerLink]="['businesses', b.id]">
          <img
            [src]="b.logo"
            [alt]="b.name"
            class="logo w-100"
            mat-card-image
          />
        </a>
        <mat-card-content class="p-b-24 p-t-12 position-relative">
          <button
            mat-mini-fab
            color="primary"
            class="icon-30 cart-btn"
            matTooltip="Add to Cart"
          >
            <i-tabler name="basket" class="icon-16"></i-tabler>
          </button>
          <mat-card-title class="title mat-headline-2 f-s-16 m-b-4">
            <h3>{{ b.name }}</h3>
          </mat-card-title>
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <p class="description">{{ b.description }}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
